
{% block content %}
<div class="wrapper">
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="uid" value="{{ uid }}">
        <input type="hidden" name="token" value="{{ token }}">
        <h1>Reset Your Password</h1>
        <div class="input-box">
            <input type="password" name="new_password1" placeholder="New Password" required>
            <i class="bi bi-lock"></i>
        </div>
        <div class="input-box">
            <input type="password" name="new_password2" placeholder="Confirm New Password" required>
            <i class="bi bi-lock"></i>
        </div>
        <button type="submit" class="btn">Reset Password</button>
    </form>
</div>
{% endblock %}
